.ui.card>.image, .ui.cards>.card>.image {
    background: rgba(255, 255, 255, 0);
}
#body{
  background-color: rgb(249, 250, 250);
}
body{
  background-image: url('http://wallpapercave.com/wp/eU5JQQP.jpg');
  background-size: cover;
}
#icons-ofrecemos{
  text-shadow: 3px 1px 5px #d4d4d4;
  color: #3f81c7;
  font-size: 50px;
}
#icon-contact{
  font-size: 40px;
}
#icon-contact:hover{
  opacity: 0.9;
}
#form-contact  input, #form-contact textarea{
  border-color: #00b5ad;
}

#contenido div.row{
  margin-top: 20px;
  margin-bottom: 20px;
}
footer{
  background-color: rgb(21, 21, 21);
  color: rgba(255, 255, 255, 0.6);
  padding: 20px;
}
.swiper-pagination-bullet {
  box-shadow: 0px 0px 3px 1px #676767 !important;
}
